@import 'reset';

* {
    box-sizing: border-box;
    z-index: 1;
}

body {
    background-image: url("./images/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;

    &::before {
        content: "";
        background-color: rgba(128, 128, 128, 0.164);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 1rem;
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

.meme-container {
    display: grid;
    position: relative;
    width: 90vw;
    grid-template: auto auto / auto auto;
    gap: 1em;
    $memeColor: rgba(236, 222, 143, 0.87);
    
    @media (min-width: 1400px) {
        width: 1200px;
    }


    .meme {
        display: grid;
        position: relative;
        width: 100%;
        grid-auto-flow: row;
        row-gap: 0px;
        border: 10px $memeColor solid;

        img {
            width: 100%;
            border: 1px solid black;
        }

        h2 {
            background-color: $memeColor;
            text-align: center;
            margin: 0;
            padding: 1rem;
        }
    }
}

button {
    margin: 40px;
    width: 330px;
    max-width: 70vw;
    height: 60px;

    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: rgb(228, 188, 102);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgba(231, 225, 168, 0.87);

    &:hover {
        background-color: rgb(226, 161, 19);
    }

    &:active {
        background-color: rgb(207, 151, 29);
        box-shadow: 0 5px rgba(190, 186, 134, 0.87);
        transform: translateY(4px);
    }
}

.player-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}