main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme-container {
  display: grid;
  grid-template: auto auto / auto auto;
  gap: 1em;
}

.player-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
